{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
        {% if statuscode == 16 %}
        #form-apagado, #form-other {display: none}
        {% elif statuscode == 80 %}
        #form-encendido, #form-other {display: none}
        {% else %}
        #form-encendido, #form-apagado {display: none}
        {% endif %}
    </style>
    <title>Servidor de Minecraft</title>
</head>

<body>
    <main class="centred mt-50">
        <article class="blurred-white rounded centred col p-3 mw-450">
            <div class="px-15 full-rounded blurred-white mt-minus50 flex centred">
                <img class="full-rounded width40px mr-10" src="{% static 'img/personaje_1.png' %}" alt="Profile-Pic">
                <h2 class="font-1">{{ user }}</h2>
            </div>
            <section class="centred col py-3rem">
                <h1 class="pb-10px">
                    <b id="estado-title" class="capitalize font-1 is-size-2">{{estado}}</b>
                </h1>
                <p class="font-1 mt-minus28 bold">El server está <span id="estado"></span></p>
            </section>
            <section class="centred col pb-3rem full-width">
                <form id="form-encendido" action="{% url 'apagar' %}" method="post" class="full-width server-form" >
                    {% csrf_token %}
                    <button class="full-width font-white bg-red p-3 rounded transparent-input centred" type="submit">
                        <span id="spanTextTurnOnOff" class="font-1 mb-minus5px is-size-6">Apagar</span>
                    </button>
                </form>
                <form id="form-apagado" action="{% url 'encender' %}" method="post" class="full-width server-form">
                    {% csrf_token %}
                    <button class="full-width font-white bg-green p-3 rounded transparent-input centred" type="submit">
                        <span id="spanTextTurnOnOff" class="font-1 mb-minus5px is-size-6">Encender</span>
                    </button>
                </form>
                <p id="form-other" class="server-form" >Nada que hacer. Debe esperar :)</p>
            </section>
        </article>        
    </main>
    <br />
    <footer class="centred">
        <article class="blurred-green rounded centred col p-3 mw-450">
            <h3>Jugadores Conectados:</h3>
            <ul id="lista-players">
            {% for player in players %}
                <li>{{player}}</li>
            {% endfor %}
            </ul>
        </article>
    </footer>
</body>
<script>
    estadosEsp = {
        'pending': 'pendiente',
        'running': 'corriendo',
        'shutting-down': 'apagándose',
        'stopping': 'deteniéndose',
        'stopped': 'detenido'
    }
    document.getElementById('estado').innerText = estadosEsp.{{estado}};

    window.state_url = "{% url 'api.state' %}";

    window.mcserver = {
        players : [],
        state : 'pending'
    }  
</script>
<script src="{% static 'js/dashboard.js' %}"></script>
</html>